# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.sap
*.suo
*.user
*.userosscache
*.sln.docstates

AlexaComp/bin
AlexaComp/obj
AlexaComp/pathDir.xml
AlexaComp/AlexaCompTESTS.cs
AlexaComp/SavedMethods.cs
*node_modules/
*config.json
Docs/
Setup1/
setup.exe
*package.zip

# Visual Studio 2015/2017 cache/options directory
.vs/

# Config
AlexaComp/App.config
*.pfx
Lambda/Main_Lambda/Device_Linking_Email/config.py
