<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key= "HOST" value="Your PC's internal IP"/>
        <add key= "PORT" value="An open port on your network"/>
        <add key= "AUTH" value=""/>
    </appSettings>
</configuration>